*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(250, 250, 250);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.instagram-wrapper{
    display: flex;
    width: 60%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.instagram-left{
    display: flex;
    justify-content: center;
    width: 50%;
    align-items: center;
    max-width: 33rem;
}
.instagram-left img{
    height: 44rem;   
}

.instagram-right{
    display: flex;
    align-items: center;/*horizontal*/
    flex-direction: column;
    justify-content: space-around; /*vertical*/
    width: 50%;
    min-height: 34rem;
    max-width: 27rem;
}

.group{
    display: flex;
    justify-content: space-between;
    border: 1px solid lightgray;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    padding: 1.3rem 0;
    margin-top: 1rem;
    
}

.group:nth-child(1){
    min-height: 19rem;
}

.instagram-logo{
    height: 3rem;
}

.profile-photo{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}
.profile-photo img{
    height: 6rem;
}

.instagram-login{
    background-color: #0095f6;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;
    font-weight: 600;
}
.instagram-logout{
    color: #0095f6;
    margin-top: 1rem;
    font-weight: 600;
}

.not-account{
    color: rgb(160, 160, 160);
}

.link-blue{
    color: #0095f6;
    font-weight: 600;
}

.instagram-apps{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.get-app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
}

.app-download{
    height: 3rem;
    width: 10rem;
    background-size: contain;
}

.app-download:nth-child(1){
    background-image: url(./appstore.png);
}

.app-download:nth-child(2){
    background-image: url(./googleplay.png);
}

@media (max-width: 1024px){
    .instagram-wrapper{
        width: 90%;
    }
}

@media (max-width: 650px){
    .instagram-wrapper{
        width: 90%;
    }

    .instagram-left{
        display: none;
    }
    
    .group{
        border: transparent;
        /*justify-content: start;*/
    }

    .instagram-right{
        width: 100%;
    }
}
